*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    min-width: 414px;
    background: white;
   
    
}

/* Header , logo */
#logo{
    
   
    border-radius: 4px;
    
    font-size: 200%;
    
    color: #212721;
    font-family: 'Pacifico', cursive;
    
} 
#header{
    text-align: center;
    background: white;
    line-height: 65px;
    font-family: 'Manrope', sans-serif;
    color: #212721;
    font-size: 250%;
    padding-top: 2%;
    padding-bottom: 2%;
    
    
    
}
#header a{
    text-decoration: none;
    
}


/* Navigator bar */

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:#006341;
    width: 100%;
    min-height: 70px;
    white-space: normal;
    
}

#navbar li{
    display: inline-block;
    
    
}


#navbar a{
    color: var (--text-color);
    font-size:1rem;
    font-weight:300;
   text-decoration: none;
    margin: 0px 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#navbar li{
    
    display: inline;
}

#navbar a:hover{
    background-color:#e3e2f2;
    color:#000;

}



/* Main Content */

#wrapper{
    width:100%;
    margin: 0px auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #006341;
    

}

#content{

    
   
    margin-bottom: 30%;
    margin-top: 5px;
    margin-right:10px;
    margin-left: 10px;
    min-height: 250px;
    padding-bottom: 3%;
    
}

#content p {
 
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
   
    
}
#content p2{
    font-family: monospace;
    text-decoration: blue;
}
/*pricelist*/
#info , #message{
    float: left;
    width: 50%;
    padding: 15px;
    
  }
  #info p{
    align-items: left;
    width: 70%;
    height: 30%;
   
    
  }
  #message{
    
    background-color:white;
    padding-top: 120px;
    
  
  }

  /* Clear floats after the columns */


 
  #info, #message:after {
    content: "";
    display: table;
    clear: both;
  }




/* Galery */
#galery{
    background-color:whitesmoke;
}
#galery img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Footer */
#footer p{

    text-align: center;
   
  
}

#footer{
    text-align: center;
    background:#006341;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;

   

}


#footer li{
    color: white;
    
}

@media only screen and (max-width:414px){
    #navbar {
        width: 100%;
        
    }
}

li{
    list-style: none;
}

.header{
    font-size: xx-large;
}


.banner-container {
    display: flex;
    justify-content: center;  /* Horizontally center */
    align-items: center;      /* Vertically center */
    height: 100vh;            /* Full viewport height */
  }
  
  .banner, #message {
    max-width: 100%;   /* Optional: Ensures the image doesn't overflow */
    max-height: 100%;  /* Optional: Ensures the image doesn't overflow */
    margin-top: 50px;
    margin-bottom: 50px;
  }

