*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    min-width: 414px;
    
   
    
}

/* Header , logo */
#logo{
    
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    
    color: #212721;
    
} 
    


#header{
    text-align: center;
    background: white;
    line-height: 65px;
    font-family: 'Manrope', sans-serif;
    color: #212721;
    font-size: 200%;
    
    
    
}
#header a{
    text-decoration: none;
    
}


/* Navigator bar */
#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:#006341;
    width: 100%;
    min-height: 70px;
    white-space: normal;
    color: #006341;
    
}

#navbar li{
    display: inline-block;
    color: rgb(191, 194, 232);
    
    
}


#navbar a{
    color: var (--text-color);
    font-size:1rem;
    font-weight:300;
   text-decoration: none;
    margin: 0px 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}


#navbar li{
    
    display: inline;
}

#navbar a:hover{
    background-color:#e3e2f2;
    color:#000;

}




/* Main Content */

#wrapper{
    width:100%;
    margin: 0px auto;
    margin-left: auto;
    margin-right: auto;
    

}

#img1{
    border-radius: 50%;
}
/* Footer */
#footer p{

    text-align: center;
   
  
}

#footer{
    text-align: center;
    background:#006341;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    
   

}


#footer li{
   color: white;
    
}

@media only screen and (max-width:414px){
    #navbar {
        width: 100%;
        
    }
}

li{
    list-style: none;
}


.container {
    padding: 0 16px;
  }
  
  .container::after, .row::after , .banner:after{
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
 
  
  .button:hover {
    background-color: #555;
  }
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding: 40px 2.5%
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
  }

  h1{
    padding: 10px 50px
  }

  .left-column {
    width: 50%;
    padding: 3%;
    float: left;
    background: white
}
.right-column {
    width: 50%;
    
    padding: 3%;
   float: right;
    background: white
}

  

#content{

    
   
  margin-bottom: 410px;
  margin-top: 100px;
  margin-right:10px;
  margin-left: 10px;
  min-height: 250px;
  
}

#content p {

  text-align: justify;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 30px;
  margin-right: 30px;
 
  
}
#content p2{
  font-family: monospace;
  text-decoration: blue;
}
/*pricelist*/
#info , #message{
  float: left;
  width: 50%;
  padding: 15px;
  
}
#info p{
  align-items: left;
  width: 70%;
  height: 30%;
 
  
}
#message{
  
  background-color:white;
  padding-top: 120px;
  

}

/* Clear floats after the columns */



#info, #message:after {
  content: "";
  display: table;
  clear: both;
}


